body.backgroundImage{
	background-color: darkgray;
	background-size: 100%;
	background-position: auto;
}

.gameBox{
    padding-left: 45%;
    padding-right: 48%;
	background-color: white;
	
}

.startButton{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.leftButton{
    margin-left: 35%;
    width: 15%;
}

.rightButton{
    margin-right: 30%;
    width: 15%;
}